*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template:
    "header header" 3.5rem
    "leftrow main" auto /
    220px auto;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
} 

#header{
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -.6rem;
    height: 4rem;
}

.burger{
    margin-left: 1.3rem;
}

.youtube img {
    height: 75px;
    margin-left: -9rem;

}

.search{
    display: grid;
    margin: 0 2rem 0 4rem;
    grid-auto-flow: column;
    gap: 0.3rem;
    justify-content: center;
    margin-left: 15rem;
}


input{
    width: 32.5rem;
    margin: -.3rem;
    padding: .7em;
    border-color: rgb(240, 240, 240);
    border-width: 1px;
    margin-left: -15.5rem;
    justify-self: center;
    height: 2.5rem;
}

.search-button{
    height: 2.5rem;
    width: 4rem;
    border-radius: 3px;
    padding: 0.2rem;
    background-color: rgb(243, 243, 243);
    margin-top: -.3rem;
    border-color: rgb(240, 240, 240);
    border-width: 1px;
    
}


.icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
    margin-right: 2rem;
}

.leftrow{
    grid-area: leftrow;
    overflow-y: scroll;
}

.main{
    grid-area: main;
}
