
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display&family=Roboto:wght@100;400;500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container{
    display: grid;
    grid-template:
    "header header" 3.5rem
    "leftrow main" auto /
    220px auto;
    height: 100vh;
    width: 100vw;
} 



#header{
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -.6rem;
    height: 4rem;
}

.burger{
    margin-left: 1.3rem;
}

.youtube img {
    height: 75px;
  padding-right: 12rem;

}

.search{
    display: grid;
    margin: 0 2rem 0 4rem;
    grid-auto-flow: column;
    gap: 0.3rem;
    justify-content: center;
    margin-left: 15rem;
}


input{
    width: 32.5rem;
    margin: -.3rem;
    padding: .7em;
    border: 1px solid #777;
    margin-left: -9rem;
    height: 2.5rem;
    font-size: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button{
    height: 2.5rem;
    width: 4rem;
    border-radius: 3px;
    padding: 0.2rem;
    background-color: #f8f8f8;
    margin-top: -.3rem;
    border: 1px solid #777;
    border: 1px solid #777;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    
}

.mic{
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
}


.icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap:.5rem;
}

.leftrow{
    grid-area: leftrow;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: sticky;
    top: 0;
    z-index: 10rem;
}

.leftrow:hover{
    overflow-y: scroll;
}

.leftrow::-webkit-scrollbar {
    width: 7px;
  }
  
  .leftrow::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  .leftrow::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
    border-radius: 10rem;
  }

.main{
    grid-area: main;
    overflow-y: scroll;
}

.main:hover{
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    width: 7px;
  }
  
  .main::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  .main::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
    border-radius: 10rem;
  }

.categories{
    padding: .4rem 2rem;
    border-top: solid 1px rgb(224, 224, 224);
    border-bottom: solid 1px rgb(224, 224, 224);
    overflow: auto;
    height: 2.5rem;
}

.category-section{
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
}

.category {
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: solid 1px #CCC;
    border-radius: 10rem;
    background-color: #e7e7e7;
    padding: .2rem .2rem;
    cursor: pointer;
    transition: background-color 100ms;
}

.category:hover {
    background-color: #ddd;
}


.category.active {
    background-color: #141414;
    color: white;
    border-color: #eee;
    width: 2.5rem;
}

.category:last-child {
    margin-right: 0;
}


.home-btn {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(223, 223, 223)
}

.home-btn img{
    position: relative;
    top: .3rem;
    margin-left: 1.3rem;
    margin-right: 1.6rem;
    }
    
    .home-btn h4{
        display: inline;
        font-weight: 600;
        font-size: .8rem;
        text-align: center;
        padding-right: 3.4rem;
    }
    
    .home-btn a{
        text-decoration: none;
        color: #535353;
    }

    .home-btn:hover{
        background-color: rgb(212, 212, 212);
    }

    .home-btn-2 {
        display: grid;
        justify-content: start;
        width: 100%;
        height: 2.5rem;
    }
    
    .home-btn-2 img{
        position: relative;
        top: .3rem;
        margin-left: 1.3rem;
        margin-right: 1.6rem;
        }
        
        .home-btn-2 h4{
            display: inline;
            font-weight: 500;
            font-size: .8rem;
            text-align: center;
        }
        
        .home-btn-2 a{
            text-decoration: none;
            color: #535353;
        }
    
        .home-btn-2:hover{
            background-color: rgb(243, 243, 243);
        }
    
.home-btn-3{
    display: grid;
    justify-content: start;
    border-bottom: solid 1px rgb(224, 224, 224);
    height: 2.5rem;
}

.home-btn-3 img{
    position: relative;
    top: .3rem;
    margin-left: 1.3rem;
    margin-right: 1.6rem;
    }
    
    .home-btn-3 h4{
        display: inline;
        font-weight: 500;
        font-size: .8rem;
        text-align: center;
    }
    
    .home-btn-3 a{
        text-decoration: none;
        color: #535353;
    }

    .home-btn-3:hover{
        background-color: rgb(243, 243, 243);
    }

.sign-in{
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: .7rem;
    border-color: #5f98e3;
    border-width: thin;
    background-color: white;
    color: #5f98e3;
    display: grid;
    grid-auto-flow: column;
    height: 2rem;
    cursor: pointer;

}

.sign-in img{
    margin-top: .2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.sign-in h3{
padding-top: .5rem;
padding-right: 1rem;
font-weight: 500;
font-size: .8rem;
color: #2170d9;
}

.sign-in-2{
    border-bottom: solid thin rgb(224, 224, 224);
}

.sign-in-2 p{
    margin-left: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.best h4{
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
    font-size: .8rem;
    font-weight: 500;
    word-spacing: .01rem;
    color: rgb(122, 122, 122);
}

.best-btn {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
}
        
.best-btn img{
    position: relative;
    top: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.6rem;
    border-radius: 1rem;
    }
            
.best-btn h4{
    display: inline;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    color: #535353;
    margin-left: -.1rem;
}
            
.best-btn a{
    text-decoration: none;
    color: #535353;
}
        
.best-btn:hover{
    background-color: rgb(243, 243, 243);
}

.best-btn-2 {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
}
            
.best-btn-2 img{
    position: relative;
    top: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.6rem;
    border-radius: 1rem;
    }
                
.best-btn-2 h4{
    display: inline;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    color: #535353;
    margin-left: -.1rem;
}
                
.best-btn-2 a{
    text-decoration: none;
    color: #535353;
}
            
.best-btn-2:hover{
    background-color: rgb(243, 243, 243);
}

.best-btn-3 {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
    border-bottom: solid 1px rgb(224, 224, 224);
}
                
.best-btn-3 img{
    position: relative;
    top: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.6rem;
    border-radius: 1rem;
    }
                    
.best-btn-3 h4{
    display: inline;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    color: #535353;
    margin-left: -.1rem;
}
                    
.best-btn-3 a{
    text-decoration: none;
    color: #535353;
}
                
.best-btn-3:hover{
    background-color: rgb(243, 243, 243);
}

.settings {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
}
                    
.settings img{
    position: relative;
    top: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.6rem;
    }
                        
.settings h4{
    display: inline;
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
    color: #535353;
    margin-left: -.1rem;
}
                        
.settings a{
    text-decoration: none;
    color: #535353;
}
                    
.settings:hover{
    background-color: rgb(243, 243, 243);
}
.feedback {
    display: grid;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
    border-bottom: solid 1px rgb(224, 224, 224);
}

.feedback img{
    position: relative;
    top: .3rem;
    margin-left: 1.5rem;
    margin-right: 1.6rem;
    }
                            
.feedback h4{
    display: inline;
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
    color: #535353;
    margin-left: -.1rem;
}
                            
.feedback a{
    text-decoration: none;
    color: #535353;
}
                        
.feedback:hover{
    background-color: rgb(243, 243, 243);
}

.about{
    margin-top: .5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4ch 4.5ch 12ch;
}

.about h4{
  display: inline;
  font-weight: 500;
  font-size: .7rem; 
  color: #535353;
}

.about a{
    text-decoration: none; 
}

.about-1 h4{
    display: inline;
    font-weight: 500;
    font-size: .7rem; 
    color: #535353;
  }
  
  .about-1 a{
      text-decoration: none; 
  }

  .leftfooter p{
font-size: .7rem;
margin-left: 1.5rem;
margin-top: 1rem;
margin-bottom: 1rem;
color: rgb(165, 165, 165);
  }


.videos{
    display: grid;
    grid-auto-flow: column;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem 1rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    border-top: solid 4px #CCC;
}

.thumbnail{
    position: relative;
    display: grid;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #aaa;
}

.video-bottom{
display: grid;
grid-auto-flow: column;
justify-content: start;
margin-top: .8rem;
}

.channel-icon{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #aaa;
}

.video-details{
    display: grid;
}

.video-title{
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}

.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 100ms;
    font-size: .8rem;
}

.video-channel-name:hover{
    color: #111;
}

.video-metadata{
    color: #555;
    font-size: .7rem;
}